// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.toolbar-background-md{
    background-color: color($colors, primary);
    color: white;
  }
  .toolbar-title-md {
    color: white;
  }
  
  .menuNavBtn {
    background-color: color($colors, primary);
    color: white;
    text-transform: uppercase;
    text-align: center;
    border: 0px;
  };
  
  #navTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  };
  
  #navLogo {
    height: 25px;
    width: "auto";
  };
  
  .divEr {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 200px;
  };
  
  .divEr.menuLogoHorz {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
  };
  
  .menuSpacer {
    width: 50px;
  };
  
  .menuLogo {
    // padding: 60px;
    height: 100%;
    // width: 50%;
    // padding-top: 20px;
    flex: 1;
  };
  
  .loginLogo {
    // padding: 60px;
    height: 50%;
    // width: 50%;
    // padding-top: 20px;
    flex: 1;
  };
  
  .button-inner {
    color: white;
  };
  
  .menu-inner > .content {
    background-color: color($colors, primary);
    color: white;
  };
  
  .client-type {
    background-color: white;
    border-radius: 5px;
  };
  
  .segment-button.segment-activated{
    background-color: color($colors, secondary);
    border-radius: 5px;
    color: white !important;
  };
  
  .fab.fab-md{
    background-color: color($colors, primary);
    border-style: solid;
    border-width: 1px;
    border-color: white;  
  }
  
  .clientType {
    background-color: color($colors, secondary);
    color: white;
    padding: 5px;
    border-radius: 5px;
  };
  
  .item-md {
    padding-left: 10px;
  };
  
  #addSectionLabel {
    background-color: color($colors, secondary);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: color($colors, primary);
    box-shadow: 0px 4px 10px #e3e3e3;
  };
  
  .alert-message {
    margin-top: 15px;
  };
  
  .alert-head {
    background-color: color($colors, secondary);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: color($colors, primary);
  };
  
  .alert-title {
    color: color($colors, primary);
  };
  
  .alert-button-default-md {
    background-color: color($colors, primary) !important;
  };
  